---
swagger: "2.0"
info:
  description: "SendPost API to send transactional emails reliably"
  version: "1.0.0"
  title: "SendPost API"
  termsOfService: "http://sendpost.io/terms-of-service"
  contact:
    email: "hello@sendx.io"
host: "api.sendpost.io"
basePath: "/api/v1"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /account/event/:
    get:
      tags:
      - "account/event"
      description: "Find all events from a account for a given time-range"
      operationId: "EventRouter.Get all events from a account for a given time-range"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved All events in a given timeframe\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/{eventId}:
    get:
      tags:
      - "account/event"
      description: "Find Event By Id"
      operationId: "EventRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "eventId"
        in: "path"
        description: "the eventId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "EventId"
      responses:
        "200":
          description: "\"Retrieved Event from eventId successfully\""
          schema:
            $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "406":
          description: ":eventId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/count:
    get:
      tags:
      - "account/event"
      description: "Count all events from a account for a given time-range"
      operationId: "EventRouter.Count all events from a account for a given time-range"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Find count of all events of a sub-account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node:
    post:
      tags:
      - "account/event"
      description: "Find all events of a account from a specific node"
      operationId: "EventRouter.Get all events of a account from a specific node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved event from eventId from a specific node successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node/{eventId}:
    get:
      tags:
      - "account/event"
      description: "Find Event From Node by id"
      operationId: "EventRouter.Get Event In Node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "eventId"
        in: "path"
        description: "the eventId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "EventId"
      responses:
        "200":
          description: "\"Retrieved event from eventId from a specific node successfully\""
          schema:
            $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "406":
          description: ":eventId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node/count:
    get:
      tags:
      - "account/event"
      description: "Count all events from a node of a sub-account for a given time-range"
      operationId: "EventRouter.Count all events from a node of a sub-account for\
        \ a given time-range"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Find count of all events of a sub-account from a specific\
            \ node\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/event/node/timestampkeys:
    get:
      tags:
      - "account/event"
      description: "Find all events of a sub-account from a specific node for a give\
        \ time-range"
      operationId: "EventRouter.Get all event timestamp keys of a sub-account from\
        \ a specific node for a given time-range"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "search type"
        required: false
        type: "string"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "source"
        in: "query"
        description: "data source from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "Source"
        x-optionalDataType: "String"
      - name: "sourceId"
        in: "query"
        description: "source id from which to get timestamp keys subaccount or ip"
        required: false
        type: "string"
        x-exportParamName: "SourceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved event from eventId from a specific node successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/integration/:
    get:
      tags:
      - "account/integration"
      description: "Get All Integrations"
      operationId: "AccountIntegrationRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved all integrations for account successful\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Integration"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/integration/{itype}:
    post:
      tags:
      - "account/integration"
      description: "Create Integration"
      operationId: "AccountIntegrationRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "itype"
        in: "path"
        description: "The integration type you want to create"
        required: true
        type: "string"
        x-exportParamName: "Itype"
      - in: "body"
        name: "body"
        description: "The Integration content"
        required: true
        schema:
          $ref: "#/definitions/models.EIntegration"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Integration Created Successfully\""
          schema:
            $ref: "#/definitions/models.Integration"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/integration"
      description: "Update Integration"
      operationId: "AccountIntegrationRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "itype"
        in: "path"
        description: "The integration type you want to update"
        required: true
        type: "string"
        x-exportParamName: "Itype"
      - in: "body"
        name: "body"
        description: "The Integration content"
        required: true
        schema:
          $ref: "#/definitions/models.EIntegration"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Integration updated successfully\""
          schema:
            $ref: "#/definitions/models.Integration"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/integration"
      description: "Delete Integration"
      operationId: "AccountIntegrationRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "itype"
        in: "path"
        description: "The integration type you want to update"
        required: true
        type: "string"
        x-exportParamName: "Itype"
      responses:
        "200":
          description: "\"Integration deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "404":
          description: "Integration Not Found"
        "500":
          description: "Internal Server Error"
  /account/integration/count:
    get:
      tags:
      - "account/integration"
      description: "Count Total AccountIntegrations"
      operationId: "AccountIntegrationRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Total count of integrations for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/integration/glockapps/monitor/{ipid}:
    post:
      tags:
      - "account/integration"
      description: "Enable IP Monitoring for a single IP"
      operationId: "AccountIntegrationRouter.EnableGlockappsIPMonitoring"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to enable monitoring for"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"IP Enabled for monitoring (hits GA as well)\""
          schema:
            $ref: "#/definitions/models.Response"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/integration"
      description: "Disable IP Monitoring for a single IP"
      operationId: "AccountIntegrationRouter.DisableGlockappsIPMonitoring"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to disable monitoring for"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"IP Disabled for monitoring (hits GA as well - even if that\
            \ fails Sendpost definitely stops monitoring it)\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/integration/glockapps/monitor/stat/{ipid}:
    get:
      tags:
      - "account/integration"
      description: "Get Monitored IP Stats"
      operationId: "AccountIntegrationRouter.Get Monitored IP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId for which you want monitored stats"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.RGlockappsMonitorStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/:
    get:
      tags:
      - "account/ip"
      description: "Get All IPs"
      operationId: "IPRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all ips for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.IP"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/{ipid}:
    get:
      tags:
      - "account/ip"
      description: "Find IP by IPId"
      operationId: "IPRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"Retrieved IP from ipid successfully\""
          schema:
            $ref: "#/definitions/models.IP"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ipid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/ip"
      description: "Update an IP"
      operationId: "IPRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "The IP you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - in: "body"
        name: "body"
        description: "The IP Email Provider Settings"
        required: true
        schema:
          $ref: "#/definitions/models.IIP"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"IP updated successfully\""
          schema:
            $ref: "#/definitions/models.IP"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ipid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/ip"
      description: "Delete IP"
      operationId: "IPRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "The IPId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"IP deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ipid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/ip/allocate:
    post:
      tags:
      - "account/ip"
      description: "Allocate IP To Account"
      operationId: "IPRouter.Allocate IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Allocated IP for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.IP"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/count:
    get:
      tags:
      - "account/ip"
      description: "Count Total AccountIPs"
      operationId: "IPRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Total count of ips for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All IP Stats"
      operationId: "IPStatRouter.Get All IP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.RIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregate Stats"
      operationId: "IPStatRouter.Get All Aggregate IP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            $ref: "#/definitions/models.Stat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate/provider:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregate Stats by Group"
      operationId: "IPStatRouter.Get All Aggregate IP Stats by Group"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the group whose stats you want"
        required: true
        type: "string"
        x-exportParamName: "Provider"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            $ref: "#/definitions/models.Stat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate/providers:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregated Provider Stats for a IP"
      operationId: "IPStatRouter.Get All Aggregated Provider Stats for a IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.PIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate/sid/{sid}/providers:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregated Provider Stats for a Specific Sub-Account of\
        \ a IP"
      operationId: "IPStatRouter.Get All Aggregated Provider Stats for a Specific\
        \ Sub-Account of a IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "sid"
        in: "path"
        description: "the Sub Account Id you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.PIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/aggregate/subaccounts:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All Aggregated Sub-Account Stats for an IP"
      operationId: "IPStatRouter.Get All Aggregated Sub-Account Stats for an IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ip/stat/{ipid}/provider:
    get:
      tags:
      - "account/ip/stat"
      description: "Get All IP Stats by Group"
      operationId: "IPStatRouter.Get All IP Stats by Group"
      parameters:
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "provider"
        in: "query"
        description: "the provider whose stats you want"
        required: true
        type: "string"
        x-exportParamName: "Provider"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.RIPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/ippool/:
    get:
      tags:
      - "account/ippool"
      description: "Get All AccountIPPools"
      operationId: "AccountIPPoolRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all ippools for account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.AccountIPPool"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/ippool"
      description: "Create AccountIPPool"
      operationId: "AccountIPPoolRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The AccountIPPool content"
        required: true
        schema:
          $ref: "#/definitions/models.EIPPool"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"AccountIPPool Created Successfully\""
          schema:
            $ref: "#/definitions/models.AccountIPPool"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/ippool/{ippoolid}:
    get:
      tags:
      - "account/ippool"
      description: "Find AccountIPPool by AccountIPPoolId"
      operationId: "AccountIPPoolRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ippoolid"
        in: "path"
        description: "the AccountIPPoolId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ippoolid"
      responses:
        "200":
          description: "\"Retrieved AccountIPPool from ippoolid successfully\""
          schema:
            $ref: "#/definitions/models.AccountIPPool"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ippoolid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/ippool"
      description: "Update AccountIPPool"
      operationId: "AccountIPPoolRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ippoolid"
        in: "path"
        description: "The AccountIPPoolId you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ippoolid"
      - in: "body"
        name: "body"
        description: "The body"
        required: true
        schema:
          $ref: "#/definitions/models.EIPPool"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Updated AccountIPPool successfully\""
          schema:
            $ref: "#/definitions/models.AccountIPPool"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ippoolid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/ippool"
      description: "Delete AccountIPPool"
      operationId: "AccountIPPoolRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ippoolid"
        in: "path"
        description: "The AccountIPPoolId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ippoolid"
      responses:
        "200":
          description: "\"AccountIPPool deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":ippoolid is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/ippool/count:
    get:
      tags:
      - "account/ippool"
      description: "Count Total AccountIPPools"
      operationId: "AccountIPPoolRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Total count of ippools for a specific account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/label/:
    get:
      tags:
      - "account/label"
      description: "Get All Labels"
      operationId: "LabelRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Retrieved all labels for sub-account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Label"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/label"
      description: "Create Label"
      operationId: "LabelRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The Label content"
        required: true
        schema:
          $ref: "#/definitions/models.Label"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Label Created Successfully\""
          schema:
            $ref: "#/definitions/models.Label"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/label/{labelId}:
    get:
      tags:
      - "account/label"
      description: "Find Label by LabelId"
      operationId: "LabelRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "labelId"
        in: "path"
        description: "the LabelId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "LabelId"
      responses:
        "200":
          description: "\"Retrieved Label from labelId successfully\""
          schema:
            $ref: "#/definitions/models.Label"
        "401":
          description: "Not Authorized"
        "406":
          description: ":labelId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/label"
      description: "Update Label"
      operationId: "LabelRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "labelId"
        in: "path"
        description: "The LabelId you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "LabelId"
      - in: "body"
        name: "body"
        description: "The body"
        required: true
        schema:
          $ref: "#/definitions/models.Label"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Updated Label successfully\""
          schema:
            $ref: "#/definitions/models.Label"
        "401":
          description: "Not Authorized"
        "406":
          description: ":labelId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/label"
      description: "Delete Label"
      operationId: "LabelRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "labelId"
        in: "path"
        description: "The LabelId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "LabelId"
      responses:
        "200":
          description: "\"Label deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":labelId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/label/count:
    get:
      tags:
      - "account/label"
      description: "Count Total Labels"
      operationId: "LabelRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Total count of subaccounts for a specific sub-account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/message/{messageId}:
    get:
      tags:
      - "account/message"
      description: "Find Message By Id"
      operationId: "MessageRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "messageId"
        in: "path"
        description: "the messageId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "200":
          description: "\"Retrieved Message from MessageStore\""
          schema:
            $ref: "#/definitions/models.QEmailMessage"
        "401":
          description: "Not Authorized"
        "406":
          description: ":messageId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/message/{messageId}/events:
    get:
      tags:
      - "account/message"
      description: "Find all events associated with a message id"
      operationId: "MessageRouter.Get all events for a message id"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "messageId"
        in: "path"
        description: "the messageId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "200":
          description: "\"Retrieved events for a message id\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "406":
          description: ":messageId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/message/node/{messageId}:
    get:
      tags:
      - "account/message"
      description: "Find Message from node by specific Id"
      operationId: "MessageRouter.Get message from node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "messageId"
        in: "path"
        description: "the messageId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "200":
          description: "\"Retrieved Message from Message Store from a specific node\""
          schema:
            $ref: "#/definitions/models.QEmailMessage"
        "401":
          description: "Not Authorized"
        "406":
          description: ":messageId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/message/node/{messageId}/events:
    get:
      tags:
      - "account/message"
      description: "Find all message events associated with a message id from a specific\
        \ node"
      operationId: "MessageRouter.Get all events for a message id from a node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "messageId"
        in: "path"
        description: "the messageId that you want to retrieve"
        required: true
        type: "string"
        x-exportParamName: "MessageId"
      responses:
        "200":
          description: "\"Retrieved events for a message id\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEvent"
        "401":
          description: "Not Authorized"
        "406":
          description: ":messageId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/recipient/{recipient}/messages:
    get:
      tags:
      - "account/recipient"
      description: "Find all messages sent to a specific recipient"
      operationId: "RecipientRouter.Get all messages for a recipient"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "recipient"
        in: "path"
        description: "email of the recipient"
        required: true
        type: "string"
        x-exportParamName: "Recipient"
      responses:
        "200":
          description: "\"Retrieved messages for a specific recipient\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEmailMessage"
        "401":
          description: "Not Authorized"
        "406":
          description: ":recipient is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/recipient/node/{recipient}/messages:
    get:
      tags:
      - "account/recipient"
      description: "Find all message sent to a recipient from a specific node"
      operationId: "RecipientRouter.Get all messages for a recipient from a node"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "recipient"
        in: "path"
        description: "email of the recipient"
        required: true
        type: "string"
        x-exportParamName: "Recipient"
      responses:
        "200":
          description: "\"Retrieved messages for a specific recipient\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.QEmailMessage"
        "401":
          description: "Not Authorized"
        "406":
          description: ":recipient is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/ip/{ipid}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate IP SMTP Stats"
      operationId: "SMTPStatRouter.Get All Aggregate IP SMTP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IPId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/ip/{ipid}/provider/{pname}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate IP Provider SMTP Stats"
      operationId: "SMTPStatRouter.Get All Aggregate IP Provider SMTP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IP ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "pname"
        in: "path"
        description: "the provider name"
        required: true
        type: "string"
        x-exportParamName: "Pname"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/ip/{ipid}/subaccount/{sid}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate IP SMTP Stats For SubAccount"
      operationId: "SMTPStatRouter.Get All Aggregate IP SMTP Stats For SubAccount"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "ipid"
        in: "path"
        description: "the IP ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "sid"
        in: "path"
        description: "the SubAccount ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/subaccount/{sid}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate SubAccount SMTP Stats"
      operationId: "SMTPStatRouter.Get All Aggregate SubAccount SMTP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "sid"
        in: "path"
        description: "the Sub-Account ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/subaccount/{sid}/ip/{ipid}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate SubAccount SMTP Stats For IP"
      operationId: "SMTPStatRouter.Get All Aggregate SubAccount SMTP Stats For IP"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "sid"
        in: "path"
        description: "the Sub-Account ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      - name: "ipid"
        in: "path"
        description: "the IP  ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ipid"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/smtp/stat/subaccount/{sid}/provider/{pname}/aggregate:
    get:
      tags:
      - "account/smtp/stat"
      description: "Get All Aggregate SubAccount Provider SMTP Stats"
      operationId: "SMTPStatRouter.Get All Aggregate SubAccount Provider SMTP Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "sid"
        in: "path"
        description: "the SubAccount ID you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Sid"
      - name: "pname"
        in: "path"
        description: "the provider name"
        required: true
        type: "string"
        x-exportParamName: "Pname"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SMTPStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/stat/:
    get:
      tags:
      - "account/stat"
      description: "Get All Account Stats"
      operationId: "AccountStatRouter.Get All Account Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.RStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/stat/aggregate:
    get:
      tags:
      - "account/stat"
      description: "Get All Aggregate Stats"
      operationId: "AccountStatRouter.Get All Aggregate Account Stats"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            $ref: "#/definitions/models.Stat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/stat/aggregate/group:
    get:
      tags:
      - "account/stat"
      description: "Get All Aggregate Stats by Group"
      operationId: "AccountStatRouter.Get All Aggregate Account Stats by Group"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "group"
        in: "query"
        description: "the group whose stats you want"
        required: true
        type: "string"
        x-exportParamName: "Group"
      responses:
        "200":
          description: "\"Retrieved Stats successfully\""
          schema:
            $ref: "#/definitions/models.Stat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/stat/group:
    get:
      tags:
      - "account/stat"
      description: "Get All Account Stats by Group"
      operationId: "AccountStatRouter.Get All Account Stats by Group"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "from"
        in: "query"
        description: "from date"
        required: false
        type: "string"
        x-exportParamName: "From"
        x-optionalDataType: "String"
      - name: "to"
        in: "query"
        description: "to date"
        required: false
        type: "string"
        x-exportParamName: "To"
        x-optionalDataType: "String"
      - name: "group"
        in: "query"
        description: "the group whose stats you want"
        required: true
        type: "string"
        x-exportParamName: "Group"
      responses:
        "200":
          description: "\"Retrieved Stats Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.RStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/subaccount/:
    get:
      tags:
      - "account/subaccount"
      description: "Get All SubAccounts"
      operationId: "SubAccountRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "filterBy"
        in: "query"
        description: "filterBy"
        required: false
        type: "string"
        x-exportParamName: "FilterBy"
        x-optionalDataType: "String"
      - name: "filterValue"
        in: "query"
        description: "filterValue"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "FilterValue"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all subAccounts for sub-account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.SubAccount"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/subaccount"
      description: "Create SubAccount"
      operationId: "SubAccountRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The SubAccount content"
        required: true
        schema:
          $ref: "#/definitions/models.ESubAccount"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"SubAccount Created Successfully\""
          schema:
            $ref: "#/definitions/models.SubAccount"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/subaccount/{subAccountId}:
    get:
      tags:
      - "account/subaccount"
      description: "Find SubAccount by SubAccountId"
      operationId: "SubAccountRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "subAccountId"
        in: "path"
        description: "the SubAccountId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "SubAccountId"
      responses:
        "200":
          description: "\"Retrieved SubAccount from subAccountId successfully\""
          schema:
            $ref: "#/definitions/models.SubAccount"
        "401":
          description: "Not Authorized"
        "406":
          description: ":subAccountId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/subaccount"
      description: "Update SubAccount"
      operationId: "SubAccountRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "subAccountId"
        in: "path"
        description: "The SubAccountId you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "SubAccountId"
      - in: "body"
        name: "body"
        description: "The body"
        required: true
        schema:
          $ref: "#/definitions/models.ESubAccount"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Updated SubAccount successfully\""
          schema:
            $ref: "#/definitions/models.SubAccount"
        "401":
          description: "Not Authorized"
        "406":
          description: ":subAccountId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/subaccount"
      description: "Delete SubAccount"
      operationId: "SubAccountRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "subAccountId"
        in: "path"
        description: "The SubAccountId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "SubAccountId"
      responses:
        "200":
          description: "\"SubAccount deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":subAccountId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/subaccount/count:
    get:
      tags:
      - "account/subaccount"
      description: "Count Total Subaccounts"
      operationId: "SubAccountRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "filterBy"
        in: "query"
        description: "filterBy"
        required: false
        type: "string"
        x-exportParamName: "FilterBy"
        x-optionalDataType: "String"
      - name: "filterValue"
        in: "query"
        description: "filterValue"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "FilterValue"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Total count of subaccounts for a specific sub-account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /account/webhook/:
    get:
      tags:
      - "account/webhook"
      description: "Get All AccountWebhooks"
      operationId: "AccountWebhookRouter.GetAll"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all whooks for sub-account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.AccountWebhook"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "account/webhook"
      description: "Create AccountWebhook"
      operationId: "AccountWebhookRouter.Create"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - in: "body"
        name: "body"
        description: "The AccountWebhook content"
        required: true
        schema:
          $ref: "#/definitions/models.EWebhook"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"AccountWebhook Created Successfully\""
          schema:
            $ref: "#/definitions/models.AccountWebhook"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/webhook/{webhookId}:
    get:
      tags:
      - "account/webhook"
      description: "Find AccountWebhook by AccountWebhookId"
      operationId: "AccountWebhookRouter.Get"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "webhookId"
        in: "path"
        description: "the AccountWebhookId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "WebhookId"
      responses:
        "200":
          description: "\"Retrieved AccountWebhook from webhookId successfully\""
          schema:
            $ref: "#/definitions/models.AccountWebhook"
        "401":
          description: "Not Authorized"
        "406":
          description: ":webhookId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "account/webhook"
      description: "Update AccountWebhook"
      operationId: "AccountWebhookRouter.Update"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "webhookId"
        in: "path"
        description: "The AccountWebhookId you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "WebhookId"
      - in: "body"
        name: "body"
        description: "The body"
        required: true
        schema:
          $ref: "#/definitions/models.EWebhook"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Updated AccountWebhook successfully\""
          schema:
            $ref: "#/definitions/models.AccountWebhook"
        "401":
          description: "Not Authorized"
        "406":
          description: ":webhookId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/webhook"
      description: "Delete AccountWebhook"
      operationId: "AccountWebhookRouter.Delete"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      - name: "webhookId"
        in: "path"
        description: "The AccountWebhookId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "WebhookId"
      responses:
        "200":
          description: "\"AccountWebhook deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":webhookId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/webhook/cache:
    post:
      tags:
      - "account/webhook"
      description: "Add Account Webhook To AccountWebhook Cache"
      operationId: "AccountWebhookRouter.Create AccountWebhook In AccountWebhook Cache"
      parameters:
      - in: "body"
        name: "body"
        description: "Add account webhook to cache"
        required: true
        schema:
          $ref: "#/definitions/models.AccountWebhook"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Account webhook has been added successfully to cache\""
        "401":
          description: "Not Authorized"
        "406":
          description: "AccountWebhook list is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "account/webhook"
      description: "Delete Account Webhook which is in AccountWebhook Cache"
      operationId: "AccountWebhookRouter.Delete AccountWebhook in AccountWebhook Cache"
      parameters:
      - in: "body"
        name: "body"
        description: "AccountWebhook content"
        required: true
        schema:
          $ref: "#/definitions/models.AccountWebhook"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Account webhook has been deleted successfully from cache\""
        "401":
          description: "Not Authorized"
        "406":
          description: "suppression list is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /account/webhook/count:
    get:
      tags:
      - "account/webhook"
      description: "Count Total AccountWebhooks"
      operationId: "AccountWebhookRouter.Count"
      parameters:
      - name: "X-Account-ApiKey"
        in: "header"
        description: "Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XAccountApiKey"
      responses:
        "200":
          description: "\"Total count of domains for a specific sub-account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /auth/create:
    post:
      tags:
      - "auth"
      description: "Create Account, sub-account and member"
      operationId: "AuthRouter.Create"
      parameters:
      - in: "body"
        name: "body"
        description: "The Account content"
        required: true
        schema:
          $ref: "#/definitions/models.EAccount"
        x-exportParamName: "Body"
      - name: "X-Token"
        in: "header"
        description: "Firebase dynamic token"
        required: true
        type: "string"
        x-exportParamName: "XToken"
      responses:
        "200":
          description: "\"Account, sub-account and member created successfully\""
          schema:
            $ref: "#/definitions/models.Account"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /auth/info:
    post:
      tags:
      - "auth"
      description: "Get Auth Info Details"
      operationId: "AuthRouter.Get Auth Info"
      parameters:
      - in: "body"
        name: "body"
        description: "The Account content"
        required: true
        schema:
          $ref: "#/definitions/models.EAccount"
        x-exportParamName: "Body"
      - name: "X-Token"
        in: "header"
        description: "Firebase dynamic token"
        required: true
        type: "string"
        x-exportParamName: "XToken"
      responses:
        "200":
          description: "\"Get auth info details\""
          schema:
            $ref: "#/definitions/models.AuthInfo"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /cluster/suppression/filter:
    post:
      tags:
      - "cluster"
      description: "Add items to suppression filter of every node in cluster"
      operationId: "ClusterRouter.Add items to suppression filter of every node in\
        \ cluster"
      parameters:
      - in: "body"
        name: "body"
        description: "Add suppressions to suppression filter"
        required: true
        schema:
          $ref: "#/definitions/models.Suppression"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Added items to suppression cache of every node of cluster\
            \ successfully\""
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "cluster"
      description: "Delete items from suppression filter of every node in cluster"
      operationId: "ClusterRouter.Delete items from suppression filter of every node\
        \ in cluster"
      parameters:
      - in: "body"
        name: "body"
        description: "Delete suppressions from suppression filter"
        required: true
        schema:
          $ref: "#/definitions/models.Suppression"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Removed items from suppression cache of every node of cluster\
            \ successfully\""
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /cluster/webhook/cache:
    post:
      tags:
      - "cluster"
      description: "Add items to account webhook cache of every node in cluster"
      operationId: "ClusterRouter.Add items to account webhook cache of every node\
        \ in cluster"
      parameters:
      - in: "body"
        name: "body"
        description: "Add account webhooks to account webhook cache"
        required: true
        schema:
          $ref: "#/definitions/models.AccountWebhook"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Added items to account webhook cache of every node of cluster\
            \ successfully\""
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "cluster"
      description: "Delete items from webhook filter of every node in cluster"
      operationId: "ClusterRouter.Delete items from webhook filter of every node in\
        \ cluster"
      parameters:
      - in: "body"
        name: "body"
        description: "Delete webhooks from webhook filter"
        required: true
        schema:
          $ref: "#/definitions/models.AccountWebhook"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Removed items from webhook cache of every node of cluster\
            \ successfully\""
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /smtp/webhook:
    post:
      tags:
      - "smtp"
      description: "Receive webhooks raised from SMTP servers"
      operationId: "SMTPRouter.Receive webhooks raised from SMTP servers"
      parameters:
      - in: "body"
        name: "body"
        description: "The Webhook content"
        required: true
        schema:
          $ref: "#/definitions/models.WMessage"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "Webhook accepted successfully"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /subaccount/cleanlist/:
    post:
      tags:
      - "subaccount/cleanlist"
      description: "Clean email list"
      operationId: "ListCleaningRouter.Clean  Emailist"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - in: "body"
        name: "body"
        description: "The List to br sent"
        required: true
        schema:
          $ref: "#/definitions/models.EmailList"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Cleaned list\""
          schema:
            $ref: "#/definitions/models.CleanedList"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /subaccount/cleanlist/bulk:
    post:
      tags:
      - "subaccount/cleanlist"
      description: "Send Email To Contacts"
      operationId: "ListCleaningRouter.Clean  bulk emailList"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "fileinput"
        in: "formData"
        description: "csv to send"
        required: true
        type: "file"
        x-exportParamName: "Fileinput"
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      responses:
        "200":
          description: "\"Cleaned list\""
          schema:
            $ref: "#/definitions/models.BulkResponse"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /subaccount/domain/:
    get:
      tags:
      - "subaccount/domain"
      description: "Get All Domains"
      operationId: "DomainRouter.GetAll"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all domains for sub-account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.Domain"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "subaccount/domain"
      description: "Create Domain"
      operationId: "DomainRouter.Create"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - in: "body"
        name: "body"
        description: "The Domain content"
        required: true
        schema:
          $ref: "#/definitions/models.EDomain"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Domain Created Successfully\""
          schema:
            $ref: "#/definitions/models.Domain"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /subaccount/domain/{domainId}:
    get:
      tags:
      - "subaccount/domain"
      description: "Find Domain by DomainId"
      operationId: "DomainRouter.Get"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - name: "domainId"
        in: "path"
        description: "the DomainId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DomainId"
      responses:
        "200":
          description: "\"Retrieved Domain from domainId successfully\""
          schema:
            $ref: "#/definitions/models.Domain"
        "401":
          description: "Not Authorized"
        "406":
          description: ":domainId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    put:
      tags:
      - "subaccount/domain"
      description: "Update Domain"
      operationId: "DomainRouter.Update"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - name: "domainId"
        in: "path"
        description: "The DomainId you want to update"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DomainId"
      - in: "body"
        name: "body"
        description: "The body"
        required: true
        schema:
          $ref: "#/definitions/models.EDomain"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Updated Domain successfully\""
          schema:
            $ref: "#/definitions/models.Domain"
        "401":
          description: "Not Authorized"
        "406":
          description: ":domainId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
    delete:
      tags:
      - "subaccount/domain"
      description: "Delete Domain"
      operationId: "DomainRouter.Delete"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - name: "domainId"
        in: "path"
        description: "The DomainId you want to delete"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DomainId"
      responses:
        "200":
          description: "\"Domain deleted successfully\""
          schema:
            $ref: "#/definitions/models.DeleteResponse"
        "401":
          description: "Not Authorized"
        "406":
          description: ":domainId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /subaccount/domain/{domainId}/verify:
    post:
      tags:
      - "subaccount/domain"
      description: "Verify Domain By Domain Id"
      operationId: "DomainRouter.Verify"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - name: "domainId"
        in: "path"
        description: "the DomainId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "DomainId"
      responses:
        "200":
          description: "\"Retrieved Domain from domainId successfully\""
          schema:
            $ref: "#/definitions/models.Domain"
        "401":
          description: "Not Authorized"
        "406":
          description: ":domainId is empty"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /subaccount/domain/count:
    get:
      tags:
      - "subaccount/domain"
      description: "Count Total Domains"
      operationId: "DomainRouter.Count"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      responses:
        "200":
          description: "\"Total count of domains for a specific sub-account\""
          schema:
            $ref: "#/definitions/models.CountStat"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
  /subaccount/email/:
    post:
      tags:
      - "subaccount/email"
      description: "Send Email To Contacts"
      operationId: "EmailRouter.Send Email"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - in: "body"
        name: "body"
        description: "The Email Message"
        required: true
        schema:
          $ref: "#/definitions/models.EmailMessage"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"Email Message Processed Successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.EmailResponse"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /subaccount/ippool/:
    get:
      tags:
      - "subaccount/ippool"
      description: "Get All IPPools"
      operationId: "IPPoolRouter.GetAll"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - name: "offset"
        in: "query"
        description: "offset"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int64"
      - name: "limit"
        in: "query"
        description: "limit"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int64"
      - name: "search"
        in: "query"
        description: "search term"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "\"Retrieved all ippools for sub-account successfully\""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/models.IPPool"
        "401":
          description: "Not Authorized"
        "500":
          description: "Internal Server Error"
    post:
      tags:
      - "subaccount/ippool"
      description: "Create IPPool"
      operationId: "IPPoolRouter.Create"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - in: "body"
        name: "body"
        description: "The IPPool content"
        required: true
        schema:
          $ref: "#/definitions/models.EIPPool"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "\"IPPool Created Successfully\""
          schema:
            $ref: "#/definitions/models.IPPool"
        "401":
          description: "Not Authorized"
        "422":
          description: "Request body is not in proper format"
        "500":
          description: "Internal Server Error"
  /subaccount/ippool/{ippoolid}:
    get:
      tags:
      - "subaccount/ippool"
      description: "Find IPPool by IPPoolId"
      operationId: "IPPoolRouter.Get"
      parameters:
      - name: "X-SubAccount-ApiKey"
        in: "header"
        description: "Sub-Account API Key"
        required: true
        type: "string"
        x-exportParamName: "XSubAccountApiKey"
      - name: "ippoolid"
        in: "path"
        description: "the IPPoolId you want to get"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "Ippoolid"
[...]
